@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary:#030307;
  --shadow-button:
  0px 5px 4px rgba(255, 255, 255, 0.4) inset,
  5px 0px 2px rgba(60, 14, 92, 0.57) inset,
  -5px 0px 2px rgba(60, 14, 92, 0.57) inset,
  0px -5px 2px rgba(60, 14, 92, 0.6) inset;
  --shadow-pill:
  0px 2px 4px rgba(165, 98, 224, 0.25) inset;
}